CLAUDE.md
custom_datasets/*
synthetic_dataset/model_output/
*.out
CoPaint4influpaint/
helpers/delphi_epidata.py
referenceimplementations/
Flusight/*
memories/
outreach/
wnv-forecasting/
model_output/*
synthetic_dataset/*
influpaint-paper/*
# 
interval_scoring/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
# C extensions
*.so

.vscode/
.aider*
